[submodule "vendored/SDL"]
    path = vendored/SDL
    url = https://github.com/libsdl-org/SDL
[submodule "vendored/SDL_mixer"]
    path = vendored/SDL_mixer
    url = https://github.com/libsdl-org/SDL_mixer
[submodule "vendored/SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git

[submodule "vendored/freetype"]
	path = vendored/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "vendored/RmlUi"]
	path = vendored/RmlUi
	url = https://github.com/mikke89/RmlUi.git
