[submodule "vendored/SDL"]
    path = vendored/SDL
    url = https://github.com/libsdl-org/SDL
[submodule "vendored/SDL_mixer"]
    path = vendored/SDL_mixer
    url = https://github.com/libsdl-org/SDL_mixer
[submodule "vendored/imgui"]
	path = vendored/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendored/glm"]
	path = vendored/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendored/lygia"]
	path = vendored/lygia
	url = https://github.com/patriciogonzalezvivo/lygia.git
[submodule "vendored/vcpkg"]
	path = vendored/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vendored/msdf-atlas-gen"]
	path = vendored/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "vendored/nanovg"]
	path = vendored/nanovg
	url = https://github.com/memononen/nanovg.git
